{% extends 'base.html.twig' %}

{% block title %} {{ welcome }} {% endblock title %}

{% block body %}
<div class="example-wrapper">
    <h1>Indice de contenidos</h1>
    <h1 ul> {{ prueba }}</h1 ul>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ path('user_list') }}">Listado de usuarios</a></li>
    </ul>
</div>
{% endblock body %}