{% extends 'base.html.twig' %}

{% block title %} Usuarios {% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Listado de usuarios</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ path('default') }}">Indice de contenidos</a></li>
    </ul>
    {% if (items) %}
        <ul>
            {% for item in items %}
               <li>
                   <a href="{{ path('user_detail', {id: item.id }) }}">Ver</a>
                   {{ item.getNombre() }} {{ item.getApellidos() }}
                   {{ item.getEmail() }}
               </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}