{% extends 'base.html.twig' %}

{% block title %} Usuarios {% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Listado de usuarios</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ path('default') }}">Indice de contenidos</a></li>
    </ul>
    {% if (item) %}
        <p><strong>ID: </strong>{{ item.getId() }}</p>
        <p><strong>Nombre: </strong>{{ item.getNombre() }}</p>
        <p><strong>Apellidos: </strong>{{ item.getApellidos() }}</p>
        <p><strong>Email: </strong>{{ item.getEmail() }}</p>
        
        <p><a href="{{ path('user_to_json', {id: item.id }) }}">Ver json</a></p>
        <p><a href="{{ path('user_delete', {id: item.id }) }}">Eliminar</a></p>
        <p><a href="{{ path('user_list') }}">Volver</a></p>
    {% endif %}
</div>
{% endblock %}